{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": ":x: *Delete all your bookings:*"
			}
		},
		{
			"type": "input",
			"element": {
				"type": "datepicker",
				"initial_date": "<?= v.dateFrom ?>",
				"placeholder": {
					"type": "plain_text",
					"text": "Select a date",
					"emoji": true
				},
				"action_id": "delete_bookings_from"
			},
			"label": {
				"type": "plain_text",
				"text": "From date:",
				"emoji": true
			}
		},
		{
			"type": "input",
			"element": {
				"type": "datepicker",
				"initial_date": "<?= v.dateTo ?>",
				"placeholder": {
					"type": "plain_text",
					"text": "Select a date",
					"emoji": true
				},
				"action_id": "delete_bookings_to"
			},
			"label": {
				"type": "plain_text",
				"text": "To date:",
				"emoji": true
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "actions",
			"elements": [
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": ":x: Delete bookings",
						"emoji": true
					},
					"style": "danger",
					"action_id": "delete_bookings"
				}
			]
		}
	]
}