{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": ":x: *Delete all your bookings:*"
			}
		},
		{
			"type": "actions",
			"elements": [
				{
					"type": "datepicker",
					"initial_date": "2022-03-17",
					"placeholder": {
						"type": "plain_text",
						"text": "Select a date",
						"emoji": true
					},
					"action_id": "actionId-0"
				},
				{
					"type": "datepicker",
					"initial_date": "2022-03-17",
					"placeholder": {
						"type": "plain_text",
						"text": "Select a date",
						"emoji": true
					},
					"action_id": "actionId-1"
				}
			]
		},
		{
			"type": "divider"
		},
		{
			"type": "actions",
			"elements": [
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": ":x: Delete bookings",
						"emoji": true
					},
					"style": "danger",
					"value": "click_me_123",
					"action_id": "actionId-0"
				}
			]
		}
	]
}