{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": ":calendar: *Free desks:*"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Select a free desk"
			},
			"accessory": {
				"type": "static_select",
				"placeholder": {
					"type": "plain_text",
					"text": "Select a desk"
				},
				"options": [
					{
						"text": {
							"type": "plain_text",
							"text": "1"
						},
						"value": "value-0"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "2"
						},
						"value": "value-1"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "3"
						},
						"value": "value-2"
					}
				],
				"action_id": "static_select-action"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Select a free desk for 17/03"
			},
			"accessory": {
				"type": "static_select",
				"placeholder": {
					"type": "plain_text",
					"text": "Select a free desk",
					"emoji": true
				},
				"options": [
					{
						"text": {
							"type": "plain_text",
							"text": "1",
							"emoji": true
						},
						"value": "value-0"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "2",
							"emoji": true
						},
						"value": "value-1"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "3",
							"emoji": true
						},
						"value": "value-2"
					}
				],
				"action_id": "static_select-action"
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "actions",
			"elements": [
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": ":heavy_check_mark: Book selected desks",
						"emoji": true
					},
					"style": "primary",
					"value": "click_me_123",
					"action_id": "actionId-0"
				},
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": ":grey_question: View desk map",
						"emoji": true
					},
					"value": "click_me_123",
					"action_id": "actionId-1"
				}
			]
		}
	]
}