{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": ":calendar: *Your upcoming bookings:*"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Today:\t<?= v.todayBookedDesk ?>"
			},
			"accessory": {
				"type": "button",
				"text": {
					"type": "plain_text",
					"text": "Delete"
				},
				"style": "danger",
				"value": "<?= v.todayDate ?>",
				"action_id": "delete_booking"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "<?= v.nextDate ?>:\t<?= v.nextBookedDesk ?>"
			},
			"accessory": {
				"type": "button",
				"text": {
					"type": "plain_text",
					"text": "Delete"
				},
				"style": "danger",
				"value": "<?= v.nextDate ?>",
				"action_id": "delete_booking"
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "actions",
			"elements": [
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": ":pencil: Book Tables",
						"emoji": true
					},
					"style": "primary",
					"value": " ",
					"action_id": "book_tables"
				},
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": ":x: Delete Bookings",
						"emoji": true
					},
					"style": "danger",
					"value": " ",
					"action_id": "delete_bookings"
				}
			]
		}
	]
}